/* COLORS */
$light-cyan: hsl(193, 38%, 86%);
$neon-green: hsl(150, 100%, 66%);

$grayish-blue: hsl(217, 19%, 38%);
$dark-grayish-blue: hsl(217, 19%, 24%);
$dark-blue: hsl(218, 23%, 16%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Manrope", Arial, Helvetica, sans-serif;
}

body {
  background-color: $dark-blue;
  color: $light-cyan;
}

img,
picture {
  display: block;
  max-width: 100%;
}